.buttons-event-heart {
    display: flex;
    justify-content: space-between;
}
.buy-tickets{
  color: Grey;
}
.buy-tickets:hover {
  color: white;
}

.heading-text {
  font-family: 'Merriweather', serif;
}