/* Set the size of the div element that contains the map */


.buttons-event-heart {
    display: flex;
    justify-content: space-between;
}
.buy-tickets{
  color: Grey;
}
.buy-tickets:hover {
  color: white;
}